.react-calendar {
  width: 100% !important;
  max-width: 100% !important;
    background-color: #1c1c24;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: white;
  }
  
  .react-calendar__tile {
    min-height: 60px;
  }
  
  .react-calendar__tile--now {
    background: #3b82f6 !important;
    color: white !important;
  }
  
  .react-calendar__tile--active {
    background: #6366f1 !important;
  }
  