.react-calendar {
  width: 100% !important;
  max-width: 100% !important;
    background-color: #1c1c24;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: white;
  }
  
  
  .react-calendar__tile {
    min-height: 60px !important; /* or more for taller tiles */
    padding: 4px !important;
  }

  .react-calendar__tile--now {
    background: #415371 !important;
    color: white !important;
  }
  
  .react-calendar__tile--active {
    background: #5c5c5f !important;
  }
  